/* Error: There is no module with the namespace "abstract".
 *    ,
 * 11 | /     @include abstract.screen(lg) {
 * 12 | |         position: initial;
 * 13 | |         padding-top: 0;
 * 14 | \     }
 *    '
 *   scss\components\dropdown.scss 11:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "abstract".\a    \2577 \a 11 \2502  \250c      @include abstract.screen(lg) {\a 12 \2502  \2502          position: initial;\a 13 \2502  \2502          padding-top: 0;\a 14 \2502  \2514      }\a    \2575 \a   scss\\components\\dropdown.scss 11:5  root stylesheet';
}
